RELEASE
*.swp
*/**/.DS_Store
*/**/.redcar/
*/**/~
*~
.sass-cache/*
.DS_Store
.idea
.vscode
.byebug_history
config/*.sphinx.conf
config/sec_config.yml
coverage
db/*.sqlite3
db/sphinx
log/**/*
public/index.html
public/javascripts/*.js
public/stylesheets/*.css
public/system
public/images/
public/assets/*
public/uploads
siepomaga.tmproj
/tags
tmp/
tmp/**/*
vendor/bundle
.rake_tasks
.vscode/launch.json
/node_modules
/yarn-error.log
/doc/state_machines

.solargraph.yml
lib/solargraph_rails_helper.rb

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Yarn

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
dump.rdb

# Config gem

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# IntelliJ configuration
out/

# Storybook (static)
storybook-static
public/storybook

.env
lefthook-local.yml
.lefthook-local/*

# i18n translations
app/frontend/modules/i18n/locales/en
white_check_mark
eyes
raised_hands












